
@{
    ViewBag.Title = "About";
}

<div class="about-section" style="font-family:'Century Gothic'">
    <div class="container">
        <div class="site-title text-center">
            <h3>About Us</h3>
            <p><b><span>K</span>im's <span>F</span>ood <span>C</span>atering</b>, we cook african foods for our beloved residents within Pretoria, Centurion, Midrand and Johannesburg.</p>
        </div>
        <div class="about-inner-section">
            <div class="col-md-6 about-inner-column">
                <h4>Kim's Food Catering </h4>
                <p>
                    Amidst of this pandemic which is the COVID-19, <span>K</span>im's <span>F</span>ood <span>C</span>atering strives to provide a service which ensures its beloved people do not wail about what to eat.
                    We cook nice foods for you based on your request.
                    We are a certified Essential Service provider and we ensure your health safety by shopping, cooking and delivering your goods while wearing masks and constantly applying hand sanitizer.
                    Do the right thing and Place your <span>K</span>im's <span>F</span>ood <span>C</span>atering Online Order.
                </p>
                <p><u><b>Delivering &amp; Ordering Times</b></u></p>
                <ul>
                    <li>Mon to Fri: 08:00-18:00</li>
                    <li>Saturday: 08:00 -15:00</li>
                    <li>Orders placed after 17:00 in weekdays will be delivered the next day</li>
                    <li>Orders placed after 17:00 on weekends will be delivered the next day</li>
                </ul>
                <p>
                    Average expected time for delivery is usually within 70 - 120 mins of successful ordering within Pretoria, Centurion, Midrand & Johannesburg.
                </p>
            </div>
            <div class="col-md-6 about-right">
                <img src="~/img/lunch.jpg" alt=" ">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--
<div class="about-section">
    <div class="container">
        <div class="site-title text-center">
            <h3>About Us</h3>
            <p>A wonderful designs has takenpossession but also the leap into electronic pesetting industry  It was popularised in the 1960s with the release </p>
        </div>
        <div class="about-inner-section">
            <div class="col-md-6 about-right">
                <img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt=" ">
            </div>
            <div class="col-md-6 about-inner-column">
                <h4>Eco friendly food is good for health </h4>
                <p>Takenpossession of lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                <ul>
                    <li><a href="#">Donec ut quam lscele volutri.</a></li>
                    <li><a href="#">Etiam volutpatbh quam bortis</a></li>
                    <li><a href="#">Varius fusce vit aeblandit.</a></li>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
-->
